@define-color dark0 #2e3440;
@define-color dark1 #3b4252;
@define-color dark2 #434c5e;
@define-color dark3 #4c566a;

@define-color light0 #d8dee9;
@define-color light1 #e5e9f0;
@define-color light2 #eceff4;

@define-color blue0 #8fbcbb;
@define-color blue1 #88c0d0;
@define-color blue2 #81a1c1;
@define-color blue3 #5e81ac;

@define-color red #bf616a;
@define-color orange #d08770;
@define-color yellow #ebcb8b;
@define-color green #a3be8c;
@define-color pink #b48ead;

.control-center {
    background: @dark0;
    margin: 10px 10px 0 0;
} 

/*-----Buttons grid-----*/

.widget-buttons-grid {
    margin: 15px 0 0 20px;
    padding: 0;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    background: @dark1;
    margin: 0 2px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background: @dark2;
}

.widget-buttons-grid > flowbox > flowboxchild {
  background: transparent;
}

.widget-buttons-grid > flowbox > flowboxchild:focus {
  outline: none;
  box-shadow: none;
}