@import url("nord.css");

*{
    background-color: transparent;
    font-family: "Outfit Regular";
    font-size: 16;
}

window#waybar {
    background-color: @dark0;
}

#workspaces {
    background-color: @dark0;
    margin: 0 0 0 5;
    padding: 2.5 5;
    border-radius: 15;
}

#workspaces button {
    background-color: @dark1;
    color: transparent;
    font-family: "Outfit Bold";
    padding: 0 0;
    transition: all 0.3s ease-in-out;
    min-height: 0;
    border-radius: 15;
    margin: 6 1;
}

 #workspaces button.empty {
   background-color: @dark1;
   color: transparent;
}

#workspaces button.urgent {
    background-color: @red;
 }

#workspaces button.active {
    background-color: @blue2;
    color: @dark0;
    transition: all 0.3s ease-in-out;
    padding: 0 15;
}

 #clock {
    background-color: transparent;
    color: @light0;
    padding: 0 10;
    border-radius: 15;
    margin: 4 6 4 6;
    font-size: 17;
   font-family: "Outfit Bold";
 }

 #custom-notifications {
    background-color: transparent;
    margin: 4 12 4 0;
    padding: 0 0;
    border-radius: 15;
    font-size: 14;
 }

 #network {
    margin: 4 15 4 0;
    background-color: transparent;
    border-radius: 15;
    color: @blue2;
    font-size: 15;
    padding: 1 0 0 0;
 }

 #pulseaudio {
    background-color: transparent;
    padding: 0 0;
    border-radius: 15;
    margin: 4 17 4 12;
    color: @green;
    font-size: 15;
 }

 .modules-right {
   background-color: @dark0;
   margin: 0 0 0 0;
   padding: 0 6;
   border-radius: 15;
   font-family: "Material Symbols Rounded";
 }

 .modules-left {
    background-color: @dark0;
    margin: 0 0 0 0;
    padding: 0 0;
    border-radius: 15;
 }

 #custom-launcher {
    color: @blue2;
    margin: 0 14 0 5;
    padding: 2 0 0 0;
    font-size: 18;
    font-family: "MesloLGS Nerd Font";
}

#custom-kb {
   color: @yellow;
   margin: 0 17 0 0;
   padding: 1 0 0 0;
   background-color: transparent;
   border-radius: 15;
   font-family: "MesloLGS Nerd Font";
   font-size: 16;
}

#tray {
   background-color: transparent;
   padding: 0 5 0 0;
   border-radius: 15;
   margin: 4 5 4 0;
}

#tray menu {
   background-color: @dark0;
}

#menu {
   margin: 4 2 4 0;
   background-color: @dark1;
   padding: 0 10 0 11;
   border-radius: 15;
}

#utilities {
   background-color: @dark1;
   margin: 4 7 4 0;
   border-radius: 15;
}

 #custom-poweroff {
    color: @red;
    margin: 0 4 0 0;
    padding: 0 0 0 0;
    font-family: "MesloLGS Nerd Font";
    font-size: 16;

 }

  #custom-reboot {
    color: @light0;
    margin: 0 10 0 0;
    padding: 2 0 0 0;
    font-family: "MesloLGS Nerd Font";
    font-size: 18;
 }

#custom-sleep {
    color: @blue3;
    margin: 0 8 0 0;
    padding: 1 0 0 0;
    font-family: "MesloLGS Nerd Font";
    font-size: 18;
 }

 #custom-lock {
    color: @light0;
    margin: 0 11 0 0;
    padding: 1 0 0 0;
    font-family: "MesloLGS Nerd Font";
    font-size: 15;
 }

 #custom-exit {
    color: @red;
    margin: 0 11 0 2;
    padding: 2 0 0 0;
    font-family: "MesloLGS Nerd Font";
    font-size: 18;
 }
