@define-color base        #1e1e1e;  
@define-color mantle      #181818;   
@define-color crust       #121212;   

@define-color surface0    #2a2a2a;   
@define-color surface1    #434343;  
@define-color surface2    #525252; 


@define-color text        #d6d6d6;  
@define-color subtext0    #b8b8b8;   
@define-color subtext1    #9e9e9e;   

@define-color overlay0    #565656;   
@define-color overlay1    #686868;
@define-color overlay2    #7a7a7a;

@define-color blue        #6f8faf;
@define-color lavender    #8a84b8;
@define-color sapphire    #5f8c96;
@define-color sky         #7fa0a8;
@define-color teal        #6f9b92;
@define-color green       #7d9a74;
@define-color yellow      #a89a6f;
@define-color peach       #b08a72;
@define-color maroon      #9a6f6f;
@define-color red         #a06c75;
@define-color mauve       #9077a8;
@define-color pink        #a57f96;
@define-color flamingo    #b08b8b;
@define-color rosewater   #c0b0b0;

* {
   font-family: "Outfit Medium";
}

window#waybar {
   background-color: @base;
   margin: 0 10 0 10;
   border-radius: 10;
}

#workspaces {
   margin: 0 0 0 5;
}

#workspaces button {
   background-color: @surface0;
   color: transparent;
   margin: 7 2;
   border-radius: 15;
   padding: 0 0;
   transition: all 0.2s ease-in-out;
}

#workspaces button:hover {
   background-color: @surface1;
}

#workspaces button.active {
   background-color: @surface2;
   transition: all 0.2s ease-in-out;
   padding: 0 6;
}

#workspaces button.urgent {
   background-color: @red;
}

#clock {
   color: @text;
   font-size: 19;
}

.modules-right {
   margin: 0 7 0 0;
}

#network {
   color: @text;
   font-size: 19;
   margin: 0 18 0 0;
}

#pulseaudio {
   color: @text;
   font-size: 19;
   margin: 0 18 0 0;
}


