
* {
    font: "ProFont IIx Nerd Font 15";

    dark0: #2e3440;
    dark1: #3b4252;
    dark2: #434c5e;
    dark3: #4c566a;

    light0: #d8dee9;
    light1: #e5e9f0;
    light2: #eceff4;

    blue0: #8fbcbb;
    blue1: #88c0d0;  
    blue2: #81a1c1;
    blue3: #5e81ac;

    red: #bf616a;
    orange: #d08770;
    yellow: #ebcb8b;
    green: #a3be8c;
    pink: #b48ead;
}

window {
    border-radius: 15px;
    padding: 15;
    background-color: @dark0;
}